<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", root_path %></li>
      <li><%= link_to "Minecraft", 'http://www.minecraft.net/' %></li>
    </ul>
  </nav>
</footer>